@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optional: Adds a slight upward motion */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out forwards; /* Adjust the duration and easing as needed */
}


.what-we-do {
color: #de9068
}

.custom-footer {
  color: #de9068
}

.orange {
  color: #de9068
}